
table.num_list {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 370px;
  border-collapse: collapse;
  border: solid 1px #44b3e7;
  font-size: 100%;
  background-color:#f0f0f0;
}

table.num_list th,
table.num_list td {
  border: solid 1px #44b3e7;
  padding: 4px 6px;
}

table.num_list th {
  background-color:#44b3e7;
  color:#ffffff;
  text-align: center;
  white-space: nowrap;
}

table.num_list td.no {
  text-align: center;
  font-size: 100%;
  font-weight: bolder;
}

table.num_list td.location,
table.num_list td.count {
  white-space: nowrap;
}

