
table.num_list {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 370px;
  border-collapse: collapse;
  border: solid 1px #44b3e7;
  font-size: 100%;
  background-color:#ffffff;
}

table.num_list th,
table.num_list td {
  border: solid 1px #44b3e7;
  padding: 4px 6px;
}

table.num_list th {
  background-color:#44b3e7;
  color:#ffffff;
  text-align: center;
  white-space: nowrap;
}

table.num_list td.no {
  text-align: center;
  font-size: 100%;
  font-weight: bolder;
}

table.num_list td.location,
table.num_list td.count {
  white-space: nowrap;
}

.explanation {
  margin-top: 0.2em;
  background-color:#ffffff;
  border: solid 1px #44b3e7;
}
.explanation_body {
	padding:3px;
}
.crawl_num {
	text-align:center;
	background-color:#44b3e7;
  	padding: 4px 6px;
	color:#ffffff;
}
.newuser_table {
	background-color:#44b3e7;
	color:#ffffff;
	width:100%;
	table-layout:fixed;
}
.users {
	border:1px dashed #3ea4d4;
	width:100%;
	table-layout:fixed;
}
.next_button {
	border: 2px solid #ffffff;
	background-color:#44b3e7;
	color:#ffffff;
	width:100%;
}
